@import "https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap";
/* [next]/internal/font/google/geist_e531dabc.module.css [app-client] (css) */
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/_next/static/media/gyByhwUxId8gMEwSGFWNOITddY4-s.81df3a5b.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/_next/static/media/gyByhwUxId8gMEwcGFWNOITd-s.p.da1ebef7.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Fallback;
  src: local(Arial);
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0.0%;
  size-adjust: 104.76%;
}

.geist_e531dabc-module__QGiZLq__className {
  font-family: Geist, Geist Fallback;
  font-style: normal;
}

.geist_e531dabc-module__QGiZLq__variable {
  --font-geist-sans: "Geist", "Geist Fallback";
}


/* [next]/internal/font/google/geist_mono_68a01160.module.css [app-client] (css) */
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/_next/static/media/or3nQ6H_1_WfwkMZI_qYFrkdmhHkjkotbA-s.e32db976.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/_next/static/media/or3nQ6H_1_WfwkMZI_qYFrcdmhHkjko-s.p.be19f591.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Mono Fallback;
  src: local(Arial);
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.geist_mono_68a01160-module__YLcDdW__className {
  font-family: Geist Mono, Geist Mono Fallback;
  font-style: normal;
}

.geist_mono_68a01160-module__YLcDdW__variable {
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
}


/* [project]/src/app/globals.css [app-client] (css) */
*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.relative {
  position: relative;
}

.resize {
  resize: both;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-family: Newsreader, serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1em;
  color-scheme: light dark;
  color: #03056a;
  background-color: #e2e2e2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0003a1;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 197vh;
  overflow: hidden;
  background-color: #e2e2e2;
  color: #03056a;
  scrollbar-width: 0;
}

h1 {
  font-size: 2.6em;
  line-height: 1.1;
  font-weight: 300;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1;
}

small {
  font-size: .8rem;
  color: #616192;
  line-height: .9rem;
}

.small {
  font-size: .8rem;
  color: #616192;
  font-weight: 500;
}

button {
  border-radius: 8px;
  border: 1px solid #0000;
  padding: .6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color .25s;
}

button:hover {
  border-color: #646cff;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

::-moz-selection {
  background: #ff0;
}

::selection {
  background: #ff0;
}

.backgroud {
  width: 100vw;
}

.banner {
  position: relative;
  display: block;
  padding: 0;
  margin-top: 30px;
  margin-left: 35px;
  width: 50vw;
  min-width: 400px;
  max-width: 900px;
  will-change: filter;
  transition: filter .3s;
}

@keyframes img-spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.top-box, .left-box, .right-box {
  position: absolute;
  align-items: center;
  align-content: center;
  text-align: center;
  z-index: 10;
}

.top-box {
  width: 100vw;
  height: 1.5rem;
  padding-top: .1rem;
  top: 0;
  left: 0;
  border-bottom: 2px solid #1e20a5;
}

.bottom-box {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 1.5rem;
  padding-top: .1rem;
  bottom: 0;
  left: 0;
  border-top: 2px solid #1e20a5;
  border-bottom: 2px solid #1e20a5;
  display: flex;
  background-color: #e2e2e2;
}

.read-more {
  display: block;
  margin-right: 3rem;
  margin-left: auto;
  cursor: pointer;
  transition: filter .2s;
}

.read-more:hover {
  filter: drop-shadow(0 0 5px #7881bbb2);
}

.left-box {
  width: 1.7rem;
  height: 197vh;
  left: 0;
  top: 0;
  border-right: 2px solid #1e20a5;
}

.right-box {
  width: 1.7rem;
  height: 197vh;
  right: 0;
  top: 0;
  border-left: 2px solid #1e20a5;
  align-items: center;
  align-content: center;
  display: flex;
  cursor: pointer;
  background-color: #0000;
  transition: background-color .3s;
}

.right-box:hover {
  background-color: #4e4fa422;
}

.right-box > div {
  position: absolute;
  transform: rotate(90deg);
  top: 47vh;
  right: -2.3rem;
  width: max-content;
  height: fit-content;
  display: inline-block;
  vertical-align: middle;
}

.collection {
  position: relative;
  display: block;
  padding: 0;
  width: 51vw;
  max-height: 630px;
  margin-left: 4rem;
  text-align: left;
  overflow: hidden;
  z-index: 0;
  font-size: 1.15rem;
}

.collection * {
  margin-top: 0;
}

.collection p {
  margin: .4em 3px;
}

.gen-bookmark {
  width: 42vw;
  height: calc(100vh - 3.6rem);
  position: absolute;
  text-align: left;
  top: 1.8rem;
  right: 1.8rem;
  background-color: #d9d9d9aa;
  filter: drop-shadow(-2px 0 4px #0002);
  backdrop-filter: blur(5px);
}

.gen-bookmark h3 {
  margin-bottom: 0;
}

.word-input, button {
  margin-top: 1rem;
  background-color: #e4e4e4;
  border: 5px solid #e4e4e4;
  border-radius: 10px;
  color: #000;
  font-family: Newsreader, serif;
  font-size: 1.2rem;
  height: 1.8rem;
  transition: all .15s;
  filter: drop-shadow(0 0 5px #bbb7);
}

.word-input {
  width: 10rem;
}

.clear-button {
  width: 4.5rem;
}

button {
  padding: 0 10px;
  height: 2.5rem;
  width: 7rem;
  margin-left: 1.2rem;
  font-size: 1rem;
  background-color: #d1d1d1;
  border: 5px solid #d1d1d1;
}

button:hover {
  background-color: #ddd;
  border: 5px solid #ddd;
}

button:active {
  background-color: #e3e3e3;
  border: 5px solid #e3e3e3;
}

.word-input:focus {
  background-color: #eee;
  border: 5px solid #eee;
  outline: none;
}

.text-red {
  color: #a51e1e;
}

.acrostic {
  position: absolute;
  width: 30vw;
  top: 17vh;
  left: 200px;
  z-index: 20;
  transition: all .2s;
  line-height: 1.1;
  mix-blend-mode: color-dodge;
  color: #000;
  font-size: 1.4rem;
}

.blur {
  filter: brightness(.5) blur(5px);
}

.text-highlight {
  mix-blend-mode: difference;
  background-color: #9f9cca;
}

.visible {
  opacity: 100;
  visibility: visible;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.gen-bookmark > div {
  overflow-y: scroll;
  height: inherit;
  margin: 0;
}

.sticky-section {
  position: sticky;
  top: 0;
  height: 17vh;
  width: inherit;
  padding: 2rem;
  padding-bottom: 0;
  background-color: #ddd;
  filter: drop-shadow(0 1.5rem 10px #ddd);
  z-index: 200;
  scrollbar-width: 0;
}

.generator {
  margin: 0 2rem;
  z-index: 1;
  position: relative;
  line-height: 1.2;
}

.generator p {
  margin-top: 1.6rem;
}

.gen-userPrompt {
  height: 2rem;
  margin-top: .5rem;
  line-height: 1.1;
  font-size: .8rem;
}

.generator a {
  cursor: pointer;
  text-decoration: underline;
  transition: color .2s;
}

.generator a:hover {
  color: #a51e1e;
}

.text-gray, .text-gray a {
  color: #333;
  text-decoration: line-through;
}

button:disabled {
  cursor: not-allowed;
}

.about {
  position: absolute;
  display: block;
  top: 110vh;
  max-width: 800px;
  min-width: 300px;
  left: 18vw;
  text-align: left;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 40vw;
}


/*# sourceMappingURL=%5Broot%20of%20the%20server%5D__8ebb6d._.css.map*/
