@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1em;
  color-scheme: light dark;
  color: #03056A;
  background-color: #E2E2E2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0003a1;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  height: 197vh;
  width: 155vw;
  overflow: hidden;
  background-color: #E2E2E2;
  color: #03056A;
  scrollbar-width: 0;
}

h1 {
  font-size: 2.6em;
  line-height: 1.1;
  font-weight: 300;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1;
}

small {
  font-size: 0.8rem;
  color: #616192;
  line-height: 0.9rem;
}

.small {
  font-size: 0.8rem;
  color: #616192;
  font-weight: 500;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

::-moz-selection {
  background: rgb(255, 255, 0);
}

::selection {
  background: rgb(255, 255, 0);
}

.backgroud {
  width: 100vw;
}

.banner {
  position: relative;
  display: block;
  padding: 0;
  margin-top: 30px;
  margin-left: 35px;
  width: 50vw;
  min-width: 400px;
  max-width: 900px;
  will-change: filter;
  transition: filter 300ms;

  /* filter: brightness(2) blur(5px) */
}

@keyframes img-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.top-box,
.left-box,
.right-box {
  position: absolute;
  align-items: center;
  align-content: center;
  text-align: center;
  z-index: 10;
}

.top-box {
  width: 100vw;
  height: 1.5rem;
  padding-top: 0.1rem;
  top: 0;
  left: 0;
  border-bottom: 2px solid #1E20A5;
}

.bottom-box {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 1.5rem;
  padding-top: 0.1rem;
  bottom: 0;
  left: 0;
  border-top: 2px solid #1E20A5;
  border-bottom: 2px solid #1E20A5;
  display: flex;
  background-color: #e2e2e2;
}

.right-box {
  border-right: 2px solid #1E20A5;
}

.read-more {
  display: block;
  margin-right: 3rem;
  margin-left: auto;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.read-more:hover {
  filter: drop-shadow(0 0 5px #7881bbb2);
}

.left-box {
  width: 1.7rem;
  height: 197vh;
  left: 0;
  top: 0;
  border-right: 2px solid #1E20A5;
}

.right-box {
  width: 1.7rem;
  height: 197vh;
  right: 0;
  top: 0;
  border-left: 2px solid #1E20A5;
  align-items: center;
  align-content: center;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.right-box:hover {
  background-color: #4e4fa422;
}

.right-box>div {
  position: absolute;
  transform: rotate(90deg);
  top: 47vh;
  right: -2.3rem;
  width: max-content;
  height: fit-content;
  display: inline-block;
  vertical-align: middle;
}

.collection {
  position: relative;
  display: block;
  padding: 0;
  /* border: 2px solid green; */
  width: 51vw;
  max-height: 630px;
  margin-left: 4rem;
  text-align: left;
  overflow: hidden;
  z-index: 0;
  font-size: 1.15rem;
}

.collection * {
  margin-top: 0
}

.collection p {
  /* border: 1px solid orange; */
  margin: 0.4em 3px;
}

.gen-bookmark {
  width: 42vw;
  height: calc(100vh - 3.6rem);
  position: absolute;
  text-align: left;
  top: 1.8rem;
  right: 1.8rem;
  background-color: #D9D9D9aa;
  filter: drop-shadow(-2px 0px 4px #00000022);
  backdrop-filter: blur(5px);
}

.gen-bookmark h3 {
  margin-bottom: 0;
}

.word-input,
button {
  margin-top: 1rem;
  background-color: #e4e4e4;
  border: 5px solid #e4e4e4;
  border-radius: 10px;
  color: #000;
  font-family: "Newsreader", serif;
  font-size: 1.2rem;
  height: 1.8rem;
  transition: all 0.15s ease;
  filter: drop-shadow(0 0 5px #bbbbbb77)
}

.word-input {
  width: 10rem;
  height: fit-content;
}

.clear-button {
  width: 4.5rem;
}

button {
  padding: 0 10px;
  height: 2.5rem;
  width: 7rem;
  margin-left: 1.2rem;
  font-size: 1rem;
  background-color: #d1d1d1;
  border: 5px solid #d1d1d1;
}

button:hover {
  background-color: #ddd;
  border: 5px solid #ddd;
}

button:active {
  background-color: #e3e3e3;
  border: 5px solid #e3e3e3;
}

.word-input:focus {
  background-color: #eee;
  border: 5px solid #eee;
  outline: none;
}

.text-red {
  color: #a51e1e;
}

.acrostic {
  position: absolute;
  width: 30vw;
  top: 17vh;
  left: 200px;
  z-index: 20;
  transition: all 0.2s ease;
  line-height: 1.1;
  mix-blend-mode: color-dodge;
  color: #000000;
  font-size: 1.4rem;
}

.blur {
  filter: brightness(0.5) blur(5px)
}

.text-highlight {
  mix-blend-mode: difference;
  background-color: #9f9cca;
  /* color: #ffd28a; */
}

.visible {
  opacity: 100;
  visibility: visible;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.gen-bookmark>div {
  overflow-y: scroll;
  height: inherit;
  /* height: calc(100vh - 3.6rem); */
  margin: 0;
}

.sticky-section {
  position: sticky;
  top: 0;
  height: 17vh;
  width: inherit;
  padding: 2rem;
  padding-bottom: 0;
  background-color: #dddddd;
  filter: drop-shadow(0 1.5rem 10px #dddddd);
  z-index: 200;
  scrollbar-width: 0;
}

.generator {
  margin: 0 2rem;
  z-index: 1;
  position: relative;
  /* border: 2px solid #1E20A5; */
  line-height: 1.2;
}

.generator p {
  margin-top: 1.6rem;
}

.gen-userPrompt {
  height: 2rem;
  margin-top: 0.5rem;
  line-height: 1.1;
  font-size: 0.8rem;
}

.generator a {
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.generator a:hover {
  color: #a51e1e
}

.text-gray,
.text-gray a {
  color: #333;
  text-decoration: line-through;
}

button:disabled {
  cursor: not-allowed;
}

.about {
  position: absolute;
  display: block;
  top: 110vh;
  max-width: 800px;
  min-width: 300px;
  left: 18vw;
  text-align: left;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 40vw;
}

.bottom-text {
  margin-left: 3rem;
}

.prompt-code {
  position: absolute;
  left: 100vw;
  right: 0;
  top: 0;
  width: 55vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.prompt {
  display: block;
  width: 30vw;
  min-width: 350px;
  margin-top: 2rem;
}

.code {
  margin-top: 3rem;
}

/* mobile  */
@media only screen and (max-width: 700px) {
  body {
    overflow-y: auto;
    font-size: 0.95rem;
    width: 100vw;
  }

  .banner {
    width: 81vw;
    min-width: 0;
  }

  h1 {
    font-size: 1.7rem;
  }

  .collection {
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    font-size: 1rem;
  }

  .gen-bookmark {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88vw;
    top: 0;
    left: 0;
  }

  .bottom-box {
    /* visibility: hidden; */
    position: fixed;
    width: max-content;
  }

  .left-box,
  .right-box {
    position: fixed;
    height: 100vh;
    width: 0.7rem;
  }

  .about {
    width: 88vw;
    position: relative;
    padding-bottom: 3rem;
    margin-top: 3rem;
    top: 0
  }

  .sticky-section {
    padding: 1rem;
    padding-top: 1.6rem;
    height: max-content;
  }

  .word-input {
    width: 60vw;
  }

  button {
    margin-left: 0;
    margin-right: 1rem;
  }

  .generator {
    margin: 0.8rem
  }

  .gen-userPrompt {
    height: 0;
  }

  .bottom-text {
    margin-left: 1rem;
    font-size: 0.65rem;
    width: 100vw;
  }

  .read-more {
    visibility: hidden;
  }

  .prompt-code {
    position: relative;
    width: 88vw;
    left: 0;
    margin: 1.5rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin-bottom: 5rem;
  }

  .prompt {
    width: 100%;
    min-width: 200px;
  }
}